<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
</head>
<body>
<h1>Gallery section</h1>
<p>Upon seeing Yoriichi perform the twelve forms of Sun Breathing through his ancestor's memories, Tanjiro realized that, despite being replicated with a surprising degree of accuracy for hundreds of years and his own mastery of Hinokami Kagura, it had unnecessary movements, such as different wrist angles, footwork and breathing rhythm, compared to the Sun Breathing directly performed by Yoriichi. Removing them enabled him to use the Breathing Style in its purest form, to the point where Muzan Kibutsuji saw Yoriichi's visage overlapping with Tanjiro's own when he was performing the techniques against him.[4]</p>
<img src="{% static 'assets/images/image2.jpeg' %}" alt="">
<img src="{% static 'assets/images/image3.jpeg' %}" alt="">
<img src="{% static 'assets/images/image4.jpeg' %}" alt="">
<img src="{% static 'assets/images/image5.jpeg' %}" alt="">
</body>
</html>