<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1>Welcome Homepage</h1>
<p>Users of Sun Breathing visualize themselves seemingly manipulating solar flames when unleashing its techniques. Tanjiro noted that using this style increases his overall power and speed, which may be due to the fact that his body is more suited to Sun Breathing as opposed to Water Breathing.</p>
<div class="home">
     <img src="{% static 'assets/images/image1.jpeg' %}" alt="">
    <p>The Hinokami Kagura is a Breathing Style that is passed on from father to son in every generation of Kamado Family alongside the Hanafuda earrings. They use it within a ritual ceremony practiced every new year, where the Breathing Style user offers the Fire God a dance from sunset to sunrise to ward off threats and diseases.

The dance is composed of twelve segments repeated throughout the night until dawn.[1] Tanjuro Kamado noted that the breathing technique utilized in this dance allows the user to never exhaust themselves no matter how long they move, making it such that they can seemingly dance forever.[2] The last user of Hinokami Kagura is Tanjiro Kamado, who learned the Breathing Style from his father Tanjuro Kamado. Other people can learn this technique if taught by a Kamado descendant.
Yoriichi performing the Thirteenth Form of the Sun Breathing

Yoriichi demonstrates Sun Breathing.

The Hinokami Kagura is later revealed by Shinjuro Rengoku to be a legendary Breathing Style known as Sun Breathing (日の呼吸 Hi no kokyū?), the first one to have ever been created, though it was seemingly lost. All other Breathing Styles are derived from it as the result of Yoriichi Tsugikuni, its creator, modifying it to suit the individuals he taught who were unable to use it.[3]

Both the Hinokami Kagura and Sun Breathing are Breathing Styles that mimic the sun and replicate it with the user's mov</p>

</div>
</body>
</html>