<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Information</title>
    {% load static %}
    <link rel="icon" href="{% static 'assets/images/icon1.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">
</head>
<body>

<h1 class="text-primary text-center">PERSONAL INFORMATION</h1>
<p class="container">The dance is composed of twelve segments repeated throughout the night until dawn.[1] Tanjuro Kamado noted that the breathing technique utilized in this dance allows the user to never exhaust themselves no matter how long they move, making it such that they can seemingly dance forever.[2] The last user of Hinokami Kagura is Tanjiro Kamado, who learned the Breathing Style from his father Tanjuro Kamado. Other people can learn this technique if taught by a Kamado descendant. </p>

<table class="table table-striped table-dark table-hover">
    <tr>
        <th>#</th>
        <th>First name</th>
        <th>Last name</th>
        <th>User name</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Anthony</td>
        <td>Njiru</td>
        <td>@njiri</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Troy</td>
        <td>Thoya</td>
        <td>@thoya</td>
    </tr>
</table>
</body>
</html>